*{
  box-sizing: border-box;
}

.body{
  margin: 0;
}

.father{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.father form{
  display: flex;
  justify-content: center;
  flex-direction:  column;
}
form{
  width: 40%;
  padding: 5%;
  box-shadow: 0px 2px 15px ;
}
.error{
  color: red;
  font-size: 14px;
  margin-top: 0;

}
.register-nav{
  background-color: #86b7fe;
  border: none;
    outline: none;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  
}
.register-nav:hover{
  border: 2px solid #86b7fe;
  background-color: white;
  color: #86b7fe;
}
